# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# Editor and misc backup files - anywhere
*~
.*~
.*.swp
*.bak
*.bak[0-9][0-9]
\#*\#

# File-browser settings - anywhere
.directory

# Objects created by LaTeX - anywhere
*.nlo
*.aux
*.bbl
*.blg
*.log
*.nav
*.snm
*.out
*.spl
*.loc
*.soc
*.toc
*.vrb
*.gz
*.ilg
*.nls
*.lof
*.lot
*.tdo
*.ipynb
# Results of compilation
rapport_bib.pdf
nearest_particles_statistic.pdf
note_de_calcul.pdf
DIAPO.pdf
The_hybride_model.pdf
Prabu_Nott_notes.pdf
Kobabstract.pdf
Abstract_FINTZI_Nicolas.pdf
The_hybride_model_for_fluid_particles.pdf
The_hybride_model_diapo.pdf
study_on_surface_tension.pdf
IFP_pres.pdf
IFP_these.pdf
Lhuillier_notes.pdf
Pseudo_turb.pdf
Inter_particle_scale_eq.pdf
Plan_These.pdf
icnmmf5_abstract.pdf
Daniel_notes.pdf
Stresslet.pdf
micro.pdf
# Corefiles
core

# Source packages - anywhere
*.tar.bz2
*.tar.gz
*.tar.xz
*.tar
*.tgz
*.gtgz
*.zip

# Ignore project files in the main directory
/.cproject
/.project
/.dir-locals.el

# TOKEN file
TOKEN
NOTE
.vscode/*
