microstructure_diff.pdf# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# Editor and misc backup files - anywhere
*~
.*~
.*.swp
*.bak
*.bak[0-9][0-9]
\#*\#

# File-browser settings - anywhere
.directory

# Objects created by LaTeX - anywhere
*.nlo
*.aux
*.bbl
*.blg
*.log
*.nav
*.snm
*.out
*.spl
*.loc
*.soc
*.toc
*.vrb
*.gz
*.ilg
*.nls
*.lof
*.lot
*.tdo
*.ipynb
# Results of compilation
rapport_bib.pdf
nearest_particles_statistic.pdf
note_de_calcul.pdf
DIAPO.pdf
The_hybride_model.pdf
Prabu_Nott_notes.pdf
Kobabstract.pdf
Abstract_FINTZI_Nicolas.pdf
The_hybride_model.pdf
The_hybride_model_diapo.pdf
study_on_surface_tension.pdf
IFP_pres.pdf
IFP_these.pdf
Lhuillier_notes.pdf
Pseudo_turb.pdf
Inter_particle_scale_eq.pdf
Plan_These.pdf
icnmmf5_abstract.pdf
Daniel_notes.pdf
Stresslet.pdf
microstructure.pdf
microstructure_kin.pdf
Reynolds_stress_model.pdf
ictam2024_latex_template.pdf
Energy_balance_equaitons.pdf
Anisotropic_particles.pdf
Closure_hybrid.pdf
#age.pdf
Abstract_SHF.pdf
On_pseudo_turbulence.pdf
closure_ellipsoidal.pdf
microstructure_dyn.pdf
fintzi_lhuillier_piersonICMF2025.pdf
microstructure_diff.pdf
ictam.pdf
ICMF2025_upup.pdf
Part_vel_var.pdf
EulerEuler.pdf
CSI_fin_de_these.pdf
Foercast.pdf
# Corefiles
core

# Source packages - anywhere
*.tar.bz2
*.tar.gz
*.tar.xz
*.tar
*.tgz
*.gtgz
*.zip
*.mtc*
*.maf
*.synctex*
# Ignore project files in the main directory
/.cproject
/.project
/.dir-locals.el

# TOKEN file
TOKEN
NOTE
.vscode/*
